

body {
  width: 100px;
  margin: 0 auto;
  background-color: aquamarine;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #000203;
  text-shadow: 3px 3px 1px black;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #958f8f;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  font-size: 16px;
  height: 8em;
  width: 8em;
  padding: .5em;
  margin: 1em;
  color: gold;
  background-color: blueviolet;
  border-radius: .5em;
  transition: all .5s ease;
  cursor: pointer;
}

button:disabled{
  color: black; 
  cursor: not-allowed !important;
  background-color: #b6b4b4;
}

button:hover:disabled{
  background-color: #f1f1f170;
  color: rgb(41, 40, 40);
}

button:hover{
  background-color: goldenrod;
  color: black;
  transform: scale(1.05);
}

table {
  width: 60%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #f1f1f1;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

th {
  font-size: 18px;
  font-weight: bold;
}

td {
  font-size: 16px;
}

tr:hover{
  transition: all .5s ease;
  color: white;
  background: black;
}